[Desktop Entry]
Type=Application
Name=Navicat Premium 15
GenericName=Database Development Tool
Icon=navicat-icon
Exec=navicat
Categories=Development;
Keywords=database;sql;

